<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let product of products;">
            <div class="card shadow-sm">
                <img src={{product.imgSrc}} class="bd-placeholder-img card-img-top" alt="Imagem do produto" width="100%" height="225">
                <!-- <img class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    href="">
                </img> -->

                <div class="card-body">
                    <p class="card-text">{{product.name}}</p>
                    <p class="card-value">R$ {{product.price}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>